<div class="row">
    <div class="form-group h1">
        <div class="icon col-sm-offset-5 col-sm-1">
            <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="content col-sm-6">
            Log in 
        </div>
    </div>
</div>

<br /><br />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, html: { class: "form-horizontal" }, url: login_path) do |f| %>
        
            <div class="form-group">
                <div class="col-sm-2 control-label"><%= f.label :email %></div>
                <div class="col-sm-10">
                    <%= f.text_field :email, class: "form-control", placeholder: "sample@gmail.com" %>
                </div>
            </div>
        
            <div class="form-group">
                <div class="col-sm-2 control-label"><%= f.label :password %></div>
                <div class="col-sm-10">
                    <%= f.password_field :password, class: 'form-control', placeholder: "*************" %>
                </div>
            </div>
            
            <div class="form-group">
                <div class= "col-sm-offset-2 col-sm-4 col-sm-offset-1">
                    <%= f.submit "Log in", class: "btn btn-sm btn-primary" %>
                </div>
                <div class= "col-sm-6">
                    <p>New user? <%= link_to "Sign up now!", signup_path %></p>    
                </div>
            </div>
        <% end %>
    </div>
</div>