<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <h1>
            <%= gravatar_for @user %>
        </h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account Profile
            </div>
            <div class="panel-body">
                <span class="label label-info">Name</span>
                <%= @user.name %><br />
                
                <span class="label label-info">Email</span>
                <%= @user.email %><br />
                
                <span class="label label-info">Region</span>
                <%= @user.region %><br />
            </div>
        </div>    
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>